<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sur.cas.edu.muziki">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BensaolActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/bensol_album"></activity>
        <activity
            android:name=".BaisaActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/baisa_album" />
        <activity
            android:name=".KondeboiActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/konde_string" />
        <activity
            android:name=".SautisoActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/sauti_album" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>